@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes progress-loading {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.animate-progress-loading {
  animation: progress-loading 1.5s infinite ease-in-out;
}